<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sportsbettingpro.scanmorning</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/wangyao/SportsBettingPro/scripts/scan_push.sh</string>
        <string>--bet</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/wangyao/SportsBettingPro/data/locks/scan_morning.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/wangyao/SportsBettingPro/data/locks/scan_morning.log</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
